@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@1,100&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Caveat', cursive;
    --fonte3: 'Josefin Slab', serif;
}    

* {
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100vh;
    background-color: black;
    font-family: var(--fonte1);
}

header {
    background-color: #1F2426;
    color: white;
    text-align: center;
    font-family: var(--fonte3);
    font-size: 3.5vmin;
    
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    padding-left: 9em;
}

header p {
    font-weight: bolder;

    padding-top: 0.4em;
    padding-left: 5em;
}

header a {
    color: white;
    text-decoration: none;
}

section {
    color: white;
    padding-top: 11vh;
    padding-bottom: 11vh;
    padding-left: 30px;
    line-height: 2em;
    font-size: 6vmin;
    font-family: var(--fonte2);
}

section > p {
    padding-bottom: 1em;
}

section.imagem {
    box-shadow: inset 6px 15px 13px 0px rgba(0, 0, 0, 0.514);
    background-attachment: fixed;
    background-size: cover;
}

section.imagem > p {
    display:inline-block;
    width: 13em;
    padding: 6px;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.514);
    text-shadow: 1px 1px 0px black;
}

section#img01 {
    background-image: url(../imagens/teste4.jpg);
    background-position: left;
    padding-top: 14em;
}

section#img02 {
    background-image: url(../imagens/parede-1200.jpg);
    background-position: left;
}

section#img02 a {
    color: white;
    font-weight: lighter;
    font-style: italic;
    text-decoration: none;
}

footer {
    color: white;
    background-image: url(../imagens/parede-1200.jpg);
    background-attachment: fixed;
    background-size: cover;
    padding: 0.8em;
    border-color: #1F2426;
    border: 2px;
    
    text-align: center;
    font-family: var(--fonte2);
    font-size: 5vmin; 
}

footer a {
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 0px black;
}