@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100vh;
    background-color: black;
}

header {
    background-color: #1F2426;
    color: white;
    text-align: center;
    font-size: 3vmin;
    
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 11em;
}

header p {
    font-weight: bolder;

    padding-top: 0.40em;
    padding-left: 5em;
}

header a {
    color: white;
    text-decoration: none;
}

section {
    color: white;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-size: 4vmin;
}

section.noimagem {
    background-image: url(../imagens/teste2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: left;
    box-shadow: inset 6px 15px 13px 0px rgba(0, 0, 0, 0.514);

    height: 200px;

}